{% extends "baseadmin.html.twig" %}

{% block body %}
    <h1 style="text-align: center;font-size: 30px;padding: 20px"> Détail visite :  </h1>
    {{ include ('_admin.voyage.form.html.twig') }}
{% endblock %}